.container {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 5px solid black;

  /* al aplicar esta regla css la imagen se sale del padding
 */
  margin-left: auto;
  margin-right: auto;
}
.image1 {
  width: 100px;
  height: 100px;
}
